<div style="margin-left: 170px;">
<a href="#" class="addlink" onclick="addMCEwidget(); return false;">Добавить</a>
<textarea id="multi-content-editor"></textarea>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    function addMCEwidget() {
        var el = django.jQuery('<div style="padding-top: 5px;"><input class="vTextField" id="id_title" maxlength="300" name="title" type="text" required=""><a href="/admin/blog/post/1/delete/" class="deletelink">Удалить</a></div>');
        django.jQuery('#multi-content-editor').append(el);
    }

    //var simplemde = new SimpleMDE({ element: document.getElementById("multi-content-editor") });
    var simplemde = new SimpleMDE({ element: django.jQuery("#multi-content-editor")[0] });
</script>