{% extends 'layout.html' %}

{% block title %}{{ item.title }}{% endblock %}

{% block og_meta %}
<meta property="og:title" content="{{ item.title }}" />
<meta property="og:description" content="{{ item.annotation|striptags }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ item.image }}" />
{% endblock %}

{% block content %}
<a href="/" class="btn btn-primary" style="position: fixed; margin: 12px 0 0 -3px; z-index: 100000">
    <strong><</strong>
</a>
<div class="row box-white post-container" style="margin-bottom: 10px;">
<div class="col-lg-12">
<h3 class="title">{{ item.title }}</h3>
<hr>
<div id="postContent" class="post-content" style="max-height: 700px; overflow: hidden;">
    {{ post_content|safe }}
    <div>
        <a href="{{ item.source_url }}" class="btn">Исочник: {{ item.source_base_domain }}</a>
    </div>
</div>
<div id="collapseContainer" style="display: none;">
    <button type="button" class="btn btn-warning btn-block btn-lg" onclick="doCollapse();">
        <strong>СВЕРНУТЬ</strong>
    </button>
</div>
<div id="expandContainer" style="display: none;">
    <div class="post-gradient gradient"></div>
    <hr>
    <button type="button" class="btn btn-info btn-block btn-lg" onclick="doExpand();">
        <strong>РАСКРЫТЬ ПОЛНОСТЬЮ</strong>
    </button>
</div>
<script>
    function doExpand() {
        document.getElementById('postContent').style.maxHeight = null;
        document.getElementById('expandContainer').style.display = 'none';
        document.getElementById('collapseContainer').style.display = 'block';
    }
    function doCollapse() {
        document.getElementById('postContent').style.maxHeight = '700px';
        document.getElementById('expandContainer').style.display = 'block';
        document.getElementById('collapseContainer').style.display = 'none';
    }
    if (document.getElementById('postContent').scrollHeight > document.getElementById('postContent').clientHeight) {
        document.getElementById('expandContainer').style.display = 'block';
    }
</script>
</div>
</div>
{% include 'widget/interesting-posts.html' %}
{% endblock %}
