{% extends 'layout-9-3.html' %}

{% block title %}Супер блог{% endblock %}

{% block center %}
<h2 class="title">{{ item.title }}</h2>
{% if is_editor %}
{% include 'widget/editor-control.html' %}
{% endif %}
<div class="post-content">
    {{ item.content|safe }}
</div>
<div class="row">
{% for item in sub_posts %}
    <div class="col-lg-4">
    {% include 'widget/post-mini.html' %}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block right-side %}
{% for post in posts %}
    <div class="row">
        <div class="col-lg-12">
            <h4 class="title"><a style="color: white;" href="{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.annotation }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}