<div>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <a class="btn btn-link" target="_blank" href="http://admin.blog.devgang.ru/admin/blog/post/{{ item.id }}/change/">редактировать</a>
        <a class="btn btn-link" target="_blank" href="{{ item.source_url }}">источник</a>
        {% if is_fast_editor %}
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#post-editor-modal-{{ item.id }}">
          быстрая правка
        </button>
        {% endif %}
    </div>
    <a
        class="btn btn-success btn-xs toggle-0"
        href="#"
        onclick="setIsActive(false, '{{ item.id }}', '#post-item-{{ item.id }}'); return false;"
    >
        <span class="glyphicon glyphicon-ok"></span>
        включено
    </a>
    <a
        class="btn btn-danger btn-xs toggle-1"
        href="#"
        onclick="setIsActive(true, '{{ item.id }}', '#post-item-{{ item.id }}'); return false;"
    >
        <span class="glyphicon glyphicon-off"></span>
        отключено
    </a>
    <span class="small">{{ item.len_without_sp }}/{{ item.len_with_sp }}</span>
    <p></p>
    <ul class="small">
    {% for relation in item.translations_posts.all %}
        <li>
            <strong>{{ relation.type.title }}:</strong>
            <a href="/post/{{ relation.post_from.id }}">{{ relation.post_from.id }}. {{ relation.post_from.title }}</a>
        </li>
    {% endfor %}
    {% for relation in item.translation_to_posts.all %}
        <li>
            <strong>{{ relation.type.title }} для:</strong>
            <a href="/post/{{ relation.post_from.id }}">{{ relation.post_from.id }}. {{ relation.post_from.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="modal fade bs-example-modal-lg" id="post-editor-modal-{{ item.id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ item.title }}</h4>
      </div>
      <div class="modal-body">
          <p>Разделитель аннотации: &lt;!--ANNOTATION_SPLITTER--&gt;</p>
          <textarea class="post-content" id="post-editor">{{ item.content|safe }}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="savePost({{ item.id }});">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% if is_fast_editor %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({
    element: document.getElementById("post-editor")
});
function savePost(postId) {
    $.ajax({
        'url': '/post/'+postId+'/save',
        'type': 'post',
        'dataType': 'json',
        'data': {
            csrfmiddlewaretoken: '{{csrf_token}}',
            content: simplemde.value()
        },
        'success': function(response){
            //
        }
    })
}
</script>
{% endif %}