<header>
                <div id="header-top" class="hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div id="header-logo" class="col-sm-5 col-md-6">
                                                                    <a href="/">
                                        <img src="https://symfony.com/images/v5/logos/header-logo.svg" alt="Symfony" class="img-responsive">
                                    </a>
                                                            </div>
                            <div id="header-download" class="col-sm-7 col-md-6">
                                <a href="http://sensiolabs.com" class="header-sensiolabs-product" title="SensioLabs, PHP services and software solutions for enterprise and community.">
                                    <img src="https://symfony.com/images/v5/pictos/slproduct.svg" alt="a SensioLabs product">
                                </a>
                                <a href="/download" class="btn btn-primary btn-download">Download</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="header-bottom" data-spy="affix" data-offset-top="123" class="affix-top">
                    <div class="container">
                        <div class="visible-xs">
                            <div id="header-logo-responsive">
                                                                    <a href="/">
                                        <img src="https://symfony.com/images/v5/logos/sf-white.svg" alt="Symfony" class="img-responsive">
                                    </a>
                                                            </div>

                            <a href="" id="menuToggle" class="icon-responsive-menu"></a>
                        </div>

                        <a class="hidden-xs" href="/">
                            <img width="20px;" id="header-logo-sticky" src="https://symfony.com/images/v5/logos/sf-positive.svg">
                        </a>

                        <ul id="header-main-menu" class="row">

    <li>

        <a href="/what-is-symfony">
            What is Symfony?
        </a>

                    </li>
    <li>

        <a href="/doc/current/index.html">
            Documentation
        </a>

                    </li>
    <li>

        <a href="/community">
            Community
        </a>

                    </li>
    <li>

        <a href="/showcase">
            Showcase
        </a>

                    </li>
    <li>

        <a href="/marketplace">
            Marketplace
        </a>

                    </li>
    <li>

        <a href="/jobs">
            Jobs
        </a>

                    </li>
    <li>

        <a href="/services">
            Business Solutions
        </a>

                    </li>
    <li>

        <a href="/blog/">
            News
        </a>

                    </li>
                        </ul>
                    </div>
                </div>
            </header>