<div class="social-net-line box-sizing-content">
    <div style="display: inline-block; margin-right: 40px;">
        <!-- Put this script tag to the <head> of your page -->
        <script type="text/javascript" src="https://vk.com/js/api/share.js?94" charset="windows-1251"></script>

        <!-- Put this script tag to the place, where the Share button will be -->
        <script type="text/javascript"><!--
        document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));
        --></script>
    </div>
    <div style="display: inline-block; margin-right: 0px;">
        <!-- Put this script tag to the <head> of your page -->
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

        <script type="text/javascript">
          VK.init({apiId: 5774235, onlyWidgets: true});
        </script>
        <!-- Put this div tag to the place, where the Like block will be -->
        <div id="vk_like-{{ widget_id }}"></div>
        <script type="text/javascript">
        VK.Widgets.Like("vk_like-{{ widget_id }}", {type: "button"});
        </script>
    </div>
    <div style="display: inline-block; margin-right: 0px;">
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
        <!-- VK Widget -->
        <div id="vk_subscribe-{{ widget_id }}"></div>
        <script type="text/javascript">
        VK.Widgets.Subscribe("vk_subscribe-{{ widget_id }}", {soft: 1}, -117960257);
        </script>
    </div>
</div>