<div class="col-lg-12" id="post-mini-item-{{ item.id }}">
    <div class="media">
        <div class="pull-left">
            <a href="/group/1001">
                <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="/brain-log.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
            </a>
        </div>
        <div class="media-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="media-heading title"><a href="{{ item.url }}">{{ item.title }}</a></h3>
                    <div class="small">{{ item.annotation|safe }}</div>
                    <p>
                    {% with item.tags.all as tags %}
                    {% include 'widget/tags.html' %}
                    {% endwith %}
                    </p>
                    {% if item.series %}
                    <div class="small" style="color: gray;">
                        <strong>Это: </strong>
                        {% for series in item.series %}
                        <mark><span>{{ series.post_number }} статья из серии <a href="/?series={{ series.id }}">{{ series.title }}</a></span></mark>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% if is_editor %}
                <div class="panel-footer">
                    {% include 'widget/editor-control.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>