<div id="post-item-{{ item.id }}" class="post-content">
    <h3><a href="{{ item.url }}?from=mini_list_t_{{ base_post.id }}">{{ item.title }}</a></h3>
    {% if item.image %}
    <img alt="{{ item.title }}" src="{{ item.image }}" style="width: 100%; margin-bottom: 10px;">
    {% endif %}
    <div class="small">{{ item.annotation|safe }}</div>
    <div class="post-gradient gradient"></div>
    <a href="{{ item.url }}?from=mini_list_b_{{ base_post.id }}" class="btn btn-default btn-block">Читать полностью</a>
    <hr>
</div>