<div class="col-lg-12" id="post-mini-item-{{ item.id }}">
    <div class="media">
        <div class="pull-left">
            <a href="/group/1001">
                <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="/brain-log.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
            </a>
        </div>
        <div class="media-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="media-heading title"><a href="/?series={{ item.id }}">{{ item.title }}</a></h3>
                    <ol>
                    {% for post in item.posts %}
                        <li>
                        {% if is_editor %}
                            {{ post.post_number }}.
                            {% if post.is_active %}
                            <span class="glyphicon glyphicon-ok" style="color: #00CC00;"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-off" style="color: red;"></span>
                            {% endif %}
                        {% endif %}
                        {% if post.id == item.id %}
                        <strong>{{ post.title }}</strong>{% if is_editor %} ({{ post.len_without_sp }}/{{ post.len_with_sp }}){% endif %}
                        {% else %}
                        <a href="{{ post.url }}">{{ post.title }}</a>{% if is_editor %} ({{ post.len_without_sp }}/{{ post.len_with_sp }}){% endif %}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>